<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ColourPicker</title>
    <link rel="stylesheet" href="ColourPicker.css">
</head>
<body>
    <div class="main">
        <h4 id="h41">THE GREAT</h4>
        <h1>RGB(12, 13, 155)</h1>
        <h4 id="h42">GUESSING GAME</h4>
    </div>
    <div class="options">
        <ul class="flexbox">
            <li class="flexitem"><button id ="reset">New Colours</button></li>
            <li class="flexitem try"></li>
            <li class="flexitem"><button class = "Easy">Easy</button><button class = "Hard">Hard</button></li>
        </ul>
    </div>
    <div class="grid-container">
        <div class="griditem"></div>
        <div class="griditem"></div>
        <div class="griditem"></div>
        <div class="griditem"></div>
        <div class="griditem"></div>
        <div class="griditem"></div>
    </div>
    <script src="ColourPicker.js"></script>
</body>
</html>